/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.hand {
	cursor: pointer;
	cursor: hand;
} 

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.Imagewv
{
	float: left;
}

.Imagemsu
{
	float: right;
}
.widgetlist1
{
	width:100px;
	height:100px;
	background-color: yellow;
}
.paddedHorizontalPanel {
    padding-right: 15px;
}

