<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
<!--  <filter>
		<filter-name>rpcContextFilter</filter-name>
		<filter-class>com.seventhdawn.gwt.rpc.context.server.RPCContextFilter</filter-class>
 </filter>
 <filter-mapping>
		<filter-name>rpcContextFilter</filter-name>		
		<servlet-name>ResetPasswordAndSendEmailService</servlet-name>				
 </filter-mapping> -->

  <!-- Servlets -->
  <servlet>
  	<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
  	<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
  	<url-pattern>/webcml/gwt-log</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>com.wcrl.web.cml.server.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
     </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!--  
  <servlet>
    <servlet-name>ModuleParamServlet</servlet-name>
    <servlet-class>com.wcrl.web.cml.server.ModuleParamServlet</servlet-class>
    <init-param>
      <param-name>ModuleParameters</param-name>
      <param-value>/WEB-INF/classes/ModuleParameters.config</param-value>
     </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  -->
  
  <servlet>
		<servlet-name>AddProjectService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.AddProjectImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>AddProjectService</servlet-name>
		<url-pattern>/webcml/addProjectService</url-pattern>
 </servlet-mapping>
  
  <servlet>
		<servlet-name>AddUsersService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.AddUsersImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>AddUsersService</servlet-name>
		<url-pattern>/webcml/addUsersService</url-pattern>
  </servlet-mapping>  
  
  <servlet>
		<servlet-name>ArchiveJobService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ArchiveJobImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>ArchiveJobService</servlet-name>
		<url-pattern>/webcml/archiveJobService</url-pattern>
 </servlet-mapping>
  
  <servlet>
		<servlet-name>ArchiveJobsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ArchiveJobsImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>ArchiveJobsService</servlet-name>
		<url-pattern>/webcml/archiveJobsService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>DeleteJobsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DeleteJobsImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>DeleteJobsService</servlet-name>
		<url-pattern>/webcml/deleteJobsService</url-pattern>
 </servlet-mapping>
  
 <servlet>
		<servlet-name>ClusterStatusService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ClusterStatusImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>ClusterStatusService</servlet-name>
		<url-pattern>/webcml/clusterStatusService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>DeleteDataFilesService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DeleteDataFilesImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>DeleteDataFilesService</servlet-name>
		<url-pattern>/webcml/deleteDataFilesService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>DeleteProjectsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DeleteProjectsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>DeleteProjectsService</servlet-name>
		<url-pattern>/webcml/deleteProjectsService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>DeleteProjectService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DeleteProjectImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>DeleteProjectService</servlet-name>
		<url-pattern>/webcml/deleteProjectService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>DisableUsersService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DisableUsersImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>DisableUsersService</servlet-name>
		<url-pattern>/webcml/disableUsersService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>DeleteUsersService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DeleteUsersImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>DeleteUsersService</servlet-name>
		<url-pattern>/webcml/deleteUsersService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>EditPasswordService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.EditPasswordImpl</servlet-class>
  </servlet>	
  <servlet-mapping>
		<servlet-name>EditPasswordService</servlet-name>
		<url-pattern>/webcml/editPasswordService</url-pattern>
  </servlet-mapping>
   
  <servlet>
		<servlet-name>EditEmailService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.EditEmailImpl</servlet-class>
  </servlet>	
  <servlet-mapping>
		<servlet-name>EditEmailService</servlet-name>
		<url-pattern>/webcml/editEmailService</url-pattern>
  </servlet-mapping>
    
  <servlet>
		<servlet-name>ForgotPasswordService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ForgotPasswordImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>ForgotPasswordService</servlet-name>
		<url-pattern>/webcml/forgotPasswordService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>GetPreferredProjectService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UserPreferredProjectImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>GetPreferredProjectService</servlet-name>
		<url-pattern>/webcml/getPreferredProjectService</url-pattern>
 </servlet-mapping>
  
  <servlet>
		<servlet-name>GetSubscribedProjectListService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetSubscribedProjectListImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>GetSubscribedProjectListService</servlet-name>
		<url-pattern>/webcml/getSubscribedProjectList</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>GetSubscribedDataProjectListService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetSubscribedDataProjectListImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>GetSubscribedDataProjectListService</servlet-name>
		<url-pattern>/webcml/getSubscribedDataProjectList</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>GetUserStatusService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetUserStatusImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>GetUserStatusService</servlet-name>
		<url-pattern>/webcml/getUserStatusService</url-pattern>
  </servlet-mapping>
 
  <servlet>
		<servlet-name>GetUsersService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetUsersImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>GetUsersService</servlet-name>
		<url-pattern>/webcml/getUsersService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>GetUserProjectDataFilesListService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetUserProjectDataFilesListImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>GetUserProjectDataFilesListService</servlet-name>
		<url-pattern>/webcml/getUserProjectDataFilesListService</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
		<servlet-name>ProjectListService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ProjectListImpl</servlet-class>
   </servlet>
   <servlet-mapping>
		<servlet-name>ProjectListService</servlet-name>
		<url-pattern>/webcml/projectList</url-pattern>
   </servlet-mapping>
 
  <servlet>
		<servlet-name>ResetPasswordAndSendEmailService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ResetPasswordAndSendEmailImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>ResetPasswordAndSendEmailService</servlet-name>
		<url-pattern>/webcml/resetPasswordAndSendEmailService</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>ResumeJobService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ResumeJobImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>ResumeJobService</servlet-name>
		<url-pattern>/webcml/resumeJobService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>ResumeJobsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.ResumeJobsImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>ResumeJobsService</servlet-name>
		<url-pattern>/webcml/resumeJobsService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>SaveandDownloadUserListFileService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.SaveandDownloadUserListFileImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>SaveandDownloadUserListFileService</servlet-name>
		<url-pattern>/webcml/saveandDownloadUserListFileService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>downloadUserListFile</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.DownloadUserListFileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>downloadUserListFile</servlet-name>
		<url-pattern>/webcml/downloadUserListFile</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>UserAvailabilityService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UserAvailabilityImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>UserAvailabilityService</servlet-name>
		<url-pattern>/webcml/userAvailabilityService</url-pattern>
 </servlet-mapping>
   
  <servlet>
		<servlet-name>uploadFile</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UploadFileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>uploadFile</servlet-name>
		<url-pattern>/webcml/uploadFile</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>uploadJobnDataFile</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UploadJobandDataFileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>uploadJobnDataFile</servlet-name>
		<url-pattern>/webcml/uploadJobnDataFile</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>uploadDataFile</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UploadDataFileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>uploadDataFile</servlet-name>
		<url-pattern>/webcml/uploadDataFile</url-pattern>
 </servlet-mapping>
  
  <servlet>
		<servlet-name>UserValidationService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UserValidationImpl</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>UserValidationService</servlet-name>
		<url-pattern>/webcml/uservalidationservice</url-pattern>
  </servlet-mapping>
    
 <servlet>
		<servlet-name>SaveSubscribedProjectService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.SaveSubscribedProjectImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>SaveSubscribedProjectService</servlet-name>
		<url-pattern>/webcml/saveSubscribedProject</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>UnSubscribeUserProjectService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UnSubscribeUserProjectImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>UnSubscribeUserProjectService</servlet-name>
		<url-pattern>/webcml/unSubscribeUserProject</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>UpdateProjectService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UpdateProjectImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>UpdateProjectService</servlet-name>
		<url-pattern>/webcml/updateProjectService</url-pattern>
 </servlet-mapping>
  
 <servlet>
		<servlet-name>UpdateUserService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UpdateUserImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>UpdateUserService</servlet-name>
		<url-pattern>/webcml/updateUserService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>SuspendJobsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.SuspendJobsImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>SuspendJobsService</servlet-name>
		<url-pattern>/webcml/suspendJobsService</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>SuspendJobService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.SuspendJobImpl</servlet-class>
 </servlet>
 <servlet-mapping>
		<servlet-name>SuspendJobService</servlet-name>
		<url-pattern>/webcml/suspendJobService</url-pattern>
 </servlet-mapping>
  
 <servlet>
		<servlet-name>GetPageService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetPageImpl</servlet-class>
 </servlet>	
 <servlet-mapping>
		<servlet-name>GetPageService</servlet-name>
		<url-pattern>/webcml/getPage</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>GetDataFilesPageService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetDataFilesPageImpl</servlet-class>
 </servlet>	
 <servlet-mapping>
		<servlet-name>GetDataFilesPageService</servlet-name>
		<url-pattern>/webcml/getDataFilesPage</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>GetJobDetailsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetJobDetails</servlet-class>
 </servlet>	
 <servlet-mapping>
		<servlet-name>GetJobDetailsService</servlet-name>
		<url-pattern>/webcml/getJobDetails</url-pattern>
 </servlet-mapping>
 
 <servlet>
		<servlet-name>GetDataFileDetailsService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.GetDataFileDetailsImpl</servlet-class>
 </servlet>	
 <servlet-mapping>
		<servlet-name>GetDataFileDetailsService</servlet-name>
		<url-pattern>/webcml/getDataFileDetails</url-pattern>
 </servlet-mapping>
 
 <servlet>
        <servlet-name>EventService</servlet-name>
        <servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventService</servlet-name>
        <url-pattern>/webcml/gwteventservice</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>RegisterService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.RegisterImpl</servlet-class>
 	</servlet>
 	<servlet-mapping>
		<servlet-name>RegisterService</servlet-name>
		<url-pattern>/webcml/registerService</url-pattern>
 	</servlet-mapping>
 	
 	<servlet>
		<servlet-name>RegistrationRequestEmailService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.RegistrationRequestEmailImpl</servlet-class>
 	</servlet>
 	<servlet-mapping>
		<servlet-name>RegistrationRequestEmailService</servlet-name>
		<url-pattern>/webcml/registrationRequestEmailService</url-pattern>
 	</servlet-mapping>
    
    
    <servlet>
        <servlet-name>UsersUsageGeneratorService</servlet-name>
        <servlet-class>com.wcrl.web.cml.server.UsersUsageGeneratorImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- <servlet>
        <servlet-name>IndividualUsersUsageGeneratorService</servlet-name>
        <servlet-class>com.wcrl.web.cml.server.IndividualUsersUsageGeneratorServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet> -->
    
    <servlet>
        <servlet-name>MonitorUsersUsageService</servlet-name>
        <servlet-class>com.wcrl.web.cml.server.MonitorUsersUsageImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
		<servlet-name>UserProcessDurationUsageService</servlet-name>
		<servlet-class>com.wcrl.web.cml.server.UserProcessDurationUsageImpl</servlet-class>
 	</servlet>	
 	<servlet-mapping>
		<servlet-name>UserProcessDurationUsageService</servlet-name>
		<url-pattern>/webcml/userProcessDurationUsageService</url-pattern>
 	</servlet-mapping>
 
        
    <servlet>
        <servlet-name>ServerJobItemGeneratorService</servlet-name>
        <servlet-class>com.wcrl.web.cml.server.ServerJobItemGeneratorImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerJobItemGeneratorService</servlet-name>
        <url-pattern>/webcml/ServerJobItemGeneratorService</url-pattern>
    </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Webcml.html</welcome-file>
  </welcome-file-list>
	
	
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
</web-app>
